@import '../../styles/constants';

.PopoverComponent {
    position: relative;

    width: 25px;

    &__toggle-button {
        display: flex;
        align-items: center;
        justify-content: space-between;

        box-sizing: border-box;
        width: 100%;
        padding: 2px;

        cursor: pointer;

        border: none;
        outline: none;
        background-color: transparent;

        &:hover {
            & > span {
                background-color: darken($color-blue, 10%);
            }
        }

        & > span {
            width: 4px;
            height: 4px;

            border-radius: 50%;
            background-color: $color-blue;
        }
    }

    &__popover {
        position: absolute;
        top: 20px;
        left: -70px;

        width: 100px;

        background-color: $color-white;
    }

    &__popover-backdrop {
        position: absolute;
        z-index: 1;
        top: -10px;
        left: -10px;

        width: calc(100% + 20px);
        height: calc(100% + 20px);

        background-color: $color-white;
    }

    &__popover-tab {
        position: absolute;
        z-index: 3;
        top: -5px;
        left: 76px;

        width: 10px;
        height: 10px;

        transform: rotate(45deg);

        border-top: solid 1px $color-gray-dark;
        border-left: solid 1px $color-gray-dark;
        background-color: $color-white;
    }

    &__popover-body {
        position: relative;
        z-index: 2;

        width: 100%;

        border: solid 1px $color-gray-dark;
        border-radius: 5px;
        box-shadow: 0 0 5px $color-gray-dark;
    }

    &__popover-option {
        font-size: 18px;

        box-sizing: border-box;
        padding: 10px;

        text-align: center;

        border-bottom: solid 1px $color-gray-dark;

        &:last-of-type {
            border: none;
        }

        button {
            text-decoration: none;
        }
    }
}
