@import '../../styles/constants';

.DashboardView {
    &__tabs-wrapper {
        position: fixed;
        z-index: $z-index-footer;
        bottom: 0;
        left: 0;

        display: flex;

        width: 100%;
        height: 40px;
    }

    &__tab {
        font-weight: bold;

        flex: 1;

        cursor: pointer;
        text-transform: uppercase;

        color: $color-white;
        border: none;
        border-top: solid 1px $color-gray-dark;
        border-right: solid 1px $color-gray-dark;
        outline: none;
        background-color: $color-gray-dark;

        &:last-of-type {
            border-right: none;
        }

        &--active {
            color: $color-white;
            background-color: $color-blue;
        }
    }
}
