@import '../../styles/constants';

.ButtonComponent {
    cursor: pointer;

    border: none;

    &--inline {
        margin: 0;
        padding: 0;

        text-decoration: underline;

        color: $color-blue;
        outline: none;
        background-color: transparent;
    }
}
