@import '../../styles/constants';

%button {
    font-size: 16px;
    line-height: 16px;

    display: flex;
    align-items: center;
    justify-content: center;

    box-sizing: border-box;
    min-width: 120px;
    height: 40px;
    padding: 0 10px;

    text-decoration: none;
    text-transform: uppercase;

    border-radius: 5px;
}

.ButtonComponent {
    font-family: $font-stack;

    cursor: pointer;
    transition: background-color ease-in-out 0.2s, color ease-in-out 0.2s;

    border: none;
    outline: none;

    &--primary {
        @extend %button;

        color: $color-white;
        background-color: $color-blue;

        &:hover {
            @media only screen and (min-width: $breakpoint-medium) {
                background-color: darken($color-blue, 10%);
            }
        }
    }

    &--secondary {
        @extend %button;

        color: $color-blue;
        border: solid 1px $color-blue;
        background-color: transparent;

        &:hover {
            @media only screen and (min-width: $breakpoint-medium) {
                color: $color-white;
                background-color: $color-blue;
            }
        }
    }

    &--inline {
        font-size: inherit;

        margin: 0;
        padding: 0;

        text-decoration: underline;

        color: $color-blue;
        background-color: transparent;
    }

    &--primary-warning {
        color: $color-white;
        background-color: $color-red;

        &:hover {
            @media only screen and (min-width: $breakpoint-medium) {
                background-color: darken($color-red, 10%);
            }
        }
    }

    &--secondary-warning {
        color: $color-red;
        border: solid 1px $color-red;
        background-color: transparent;

        &:hover {
            @media only screen and (min-width: $breakpoint-medium) {
                color: $color-white;
                background-color: $color-red;
            }
        }
    }

    &--inline-warning {
        color: $color-red;
    }

    &--full-width {
        width: 100%;
    }
}
