@import '../../styles/constants';

.BulkEntryView {
    &__table {
        width: 100%;
        margin: 0;
        padding: 0;

        list-style: none;
    }

    &__row {
        display: inline-block;
        padding-top: #{$planck-length * 4};
        padding-bottom: #{$planck-length * 2};

        border-bottom: solid 1px $color-gray-light;

        @media only screen and (min-width: $breakpoint-medium) {
            display: flex;
            justify-content: space-between;
        }

        &:first-of-type {
            padding-top: 0;
        }

        &:last-of-type {
            padding-bottom: 0;

            border-bottom: none;
        }

        & > * {
            @media only screen and (min-width: $breakpoint-medium) {
                width: 24%;
            }
        }
    }
}
