@import './constants';

@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');

$spacing-unit: 8px;

body {
    font-family: $font-stack;

    overflow-x: hidden;

    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: #{$header-height + 20} 15px 60px;

    color: $color-black;
    background-color: $color-gray-light;
}

h1,
h2,
h3,
h4,
h5,
a,
p {
    margin: 0;
}

form {
    margin: 0;
}

// Generate margin and padding classes.
@for $i from 1 through 8 {
    .mt--#{$i} {
        margin-top: #{$spacing-unit * $i};
    }

    .mr--#{$i} {
        margin-right: #{$spacing-unit * $i};
    }

    .mb--#{$i} {
        margin-bottom: #{$spacing-unit * $i};
    }

    .ml--#{$i} {
        margin-left: #{$spacing-unit * $i};
    }

    .mx--#{$i} {
        margin-right: #{$spacing-unit * $i};
        margin-left: #{$spacing-unit * $i};
    }

    .my--#{$i} {
        margin-top: #{$spacing-unit * $i};
        margin-bottom: #{$spacing-unit * $i};
    }

    .m--#{$i} {
        margin: #{$spacing-unit * $i};
    }

    .pt--#{$i} {
        padding-top: #{$spacing-unit * $i};
    }

    .pr--#{$i} {
        padding-right: #{$spacing-unit * $i};
    }

    .pb--#{$i} {
        padding-bottom: #{$spacing-unit * $i};
    }

    .pl--#{$i} {
        padding-left: #{$spacing-unit * $i};
    }

    .px--#{$i} {
        padding-right: #{$spacing-unit * $i};
        padding-left: #{$spacing-unit * $i};
    }

    .py--#{$i} {
        padding-top: #{$spacing-unit * $i};
        padding-bottom: #{$spacing-unit * $i};
    }

    .p--#{$i} {
        padding: #{$spacing-unit * $i};
    }
}
