@import '../../styles/constants';

.CalendarComponent {

    width: 100%;

    font-family: $font-stack;

    &__week-wrapper {
        width: 100%;
        height: 75px;
        padding-top: 5px;
        padding-bottom: 5px;

        &:first-of-type {
            padding-top: 0;
        }

        &:last-of-type {
            padding-bottom: 0;
        }
    }

    &__week {
        position: relative;

        display: flex;

        height: 100%;
    }

    &__week-status {

        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        width: 100%;
        height: 100%;

        font-weight: bold;

        border-radius: 5px;

        &--is-under {
            background-color: adjust-color($color-green, $alpha: -0.6);
        }

        &--is-over {
            background-color: adjust-color($color-red, $alpha: -0.6);
        }
    }

    &__week-data {

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        padding: 8px 16px;

        color: $color-white;
        font-size: $font-size-regular;
        line-height: $font-size-regular;

        background-color: adjust-color($color-black, $alpha: -0.2);
        border-radius: $border-radius-default;
    }

    &__day {
        flex: 1;

        box-sizing: border-box;
        height: 100%;
        margin-left: 10px;
        padding: 5px;

        background-color: $color-gray-dark;

        border-radius: 5px;

        &:first-of-type {
            margin-left: 0;
        }
    }

    &__day-label {

        color: $color-white;
        font-size: 12px;
    }
}
