@import '../../styles/constants';

%table-cell {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;

    box-sizing: border-box;
    height: 100%;
    padding-right: $planck-length;

    &:last-of-type {
        padding-right: 0;
    }
}

.TransactionEntryComponent {
    &__row {
        position: relative;
        z-index: 1;

        display: flex;
        align-items: center;

        box-sizing: border-box;
        height: 50px;
        padding: 0 $planck-length;

        cursor: pointer;

        background-color: $color-white;

        &--open {
            box-shadow: 0 5px 5px -5px $color-gray-dark;
        }
    }

    &__date {
        @extend %table-cell;

        flex: 2;

        & > span {
            &:nth-of-type(1) {
                font-size: 20px;
                line-height: 16px;
            }

            &:nth-of-type(2) {
                font-size: 14px;
                line-height: 14px;
            }

            &:nth-of-type(3) {
                font-size: 10px;
                line-height: 10px;
            }
        }
    }

    &__type {
        @extend %table-cell;

        flex: 1;

        .IconComponent {
            width: 100%;
            max-width: 30px;

            color: $color-blue;
        }
    }

    &__title {
        @extend %table-cell;

        font-size: $font-size-regular;

        flex: 6;
    }

    &__shared-cost
    ,
    &__total-cost {
        @extend %table-cell;

        align-items: flex-end;
        flex: 4;

        & > span {
            &:first-of-type {
                font-size: 10px;
                line-height: 10px;
            }
        }
    }

    &__drawer {
        overflow: hidden;

        max-height: 0;
        padding-right: #{2 * $planck-length};
        padding-left: #{2 * $planck-length};

        transition: all ease-in-out 0.2s;
        transform: scaleY(1px);
        transform-origin: top;
        animation-duration: 0.5s;
        animation-timing-function: ease-in-out;

        border-bottom: solid 1px $color-gray-dark;
        background-color: $color-gray-light;
        box-shadow: inset 0 -5px 5px -5px $color-gray-dark;

        &--open {
            max-height: 1000px;
            padding-top: #{2 * $planck-length};
            padding-bottom: #{2 * $planck-length};

            transform: scaleY(1);
        }
    }

    &__drawer-buttons {
        display: flex;
        justify-content: flex-end;
    }
}
