.TableComponent {
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 0;

    list-style: none;

    &__header {
        padding: 0 10px;
    }

    &__header-column {
        font-size: 14px;

        display: inline-block;

        width: 25%;

        text-align: right;

        &:first-of-type {
            width: 15%;

            text-align: left;
        }
    }
}
