@import '../../styles/constants';

.ModalComponent {
    position: fixed;
    top: 0;
    left: 0;
    z-index: $z-index-modal;

    display: none;
    align-items: center;
    justify-content: center;

    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 20px;

    &--visible {
        display: flex;
    }

    &__backdrop {
        position: absolute;
        top: 0;
        left: 0;

        box-sizing: border-box;
        width: 100%;
        height: 100%;

        background-color: adjust-color($color-gray-dark, $alpha: -0.5);
    }

    &__modal {
        position: relative;
        z-index: 1;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        box-sizing: border-box;
        width: 100%;
        max-width: 500px;
        min-height: 200px;
        padding: 20px;

        background-color: $color-white;

        border-radius: 10px;
    }

    &__footer {
        display: flex;
        justify-content: flex-end;

        width: 100%;
    }

    &__close-button {
        position: absolute;
        top: 10px;
        right: 10px;

        display: flex;
        align-items: center;
        justify-content: center;

        box-sizing: border-box;
        width: 20px;
        height: 20px;

        background-color: transparent;

        border: none;

        cursor: pointer;

        & > div {
            position: relative;

            width: 1px;
            height: 100%;

            background-color: $color-gray-dark;

            outline: none;
            transform: rotate(45deg);

            transition: background-color ease-in-out 0.2s;

            &::before {
                position: absolute;
                top: 0;
                left: 0;

                width: 100%;
                height: 100%;

                background-color: inherit;
                transform: rotate(-90deg);

                content: '';
            }
        }
    }
}
