@import '../../styles/constants';

.TableRowComponent {
    display: flex;
    align-items: center;

    box-sizing: border-box;
    height: 40px;
    padding: 0 10px;

    border-top: solid 1px $color-gray-dark;

    &__cell {
        font-size: 14px;

        box-sizing: border-box;
        width: 25%;

        text-align: right;

        &:first-of-type {
            width: 15%;

            text-align: left;

            input {
                text-align: left;
            }
        }

        input {
            text-align: right;
        }
    }

    &__edit-button {
        display: flex;
        flex: 1;
        justify-content: flex-end;

        .IconComponent {
            width: 20px;
            height: 20px;

            cursor: pointer;

            color: $color-blue;
        }
    }
}
